.image {
  margin: auto;
}
h1 {
  color: #e5e3d7;
  text-align: center;
}

.header-text {
  font-size: 30px;
  color: #e5e3d7;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 16px;
}

.caption {
  text-align: left;
  border-width: medium;
  background-color: #773f40;

  border: 2px goldenrod solid;
  padding: 10px;
}
.links {
  text-align: center;
}

body {
  background-color: #0d0f1d;
  color: #e5e3d7;
  font: 16px, normal, Arial, Helvetica, sans-serif;

  line-height: 1.6em;
}

.container {
  width: 80%;
  margin: auto;
}
